<html>
 <head>

    <title>Todo list</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 </head>
<body>
    <div id="todo-table">
        <form>
                <input type="text" placeholder="add item here..." name="item" required>
                <button type="submit">add item</button>

        </form>
        <u>
            <li>item1</li>
            <li>item2</li>
            <li>item3</li>
        </u>
    </div>
</body>
</html>